#search {
  padding: rem-calc(30 0);
  background-color: $white;
  @extend .text-center;

  input {
    margin: 0;
    width: rem-calc(700);
    display: inline-block;
    background-color: #eaeaea;
    border: none;
    font-size: rem-calc(18);
    padding: rem-calc(20);
    height: rem-calc(60);
    font-weight: 300;
    font-style: italic;
    border-radius: 8px 0 0 8px;
  }

  button {
    height: rem-calc(60);
    margin: 0;
    line-height: rem-calc(60);
    font-size: rem-calc(18);
    background-color: $primary-color;
    color: $white;
    padding: rem-calc(0 20);
    border-radius: 0 8px 8px 0;

    &:hover {
      background-color: #09304f;
    }
  }
}

@include breakpoint(medium down) {
  #search {
    input {
      width: 60%;
    }
  }
}