<section id="cart" class="small-12 float-left">
    <header class="small-12 float-left text-center section-title">
        <h2>Cadastre-se</h2>
    </header>

    <div class="row">
        <div class="small-12 columns">

            <form action="" id="form-cadastro" class="form-user">
                <div class="small-12 medium-6 columns">
                    <p>
                        <input type="text" name="" placeholder="Primeiro nome" required>
                    </p>

                    <p>
                        <input type="text" name="" placeholder="Segundo nome" required>
                    </p>

                    <p>
                        <input type="text" name="" placeholder="CPF" required>
                    </p>

                    <p>
                        <input type="email" name="" placeholder="E-mail" required>
                    </p>

                    <p>
                        <input type="text" name="" placeholder="CEP" required>
                    </p>
                </div>

                <div class="small-12 medium-6 columns">
                    <p>
                        <input type="text" name="" placeholder="Telefone" required>
                    </p>

                    <p>
                        <input type="text" name="" placeholder="Celular" required>
                    </p>

                    <p>
                        <input type="password" name="" placeholder="Senha" required>
                    </p>

                    <p>
                        <input type="password" name="" placeholder="Confirmar senha" required>
                    </p>

                    <p class="text-center">
                        <button type="submit" class="button">Cadastre-se</button>
                    </p>
                </div>
            </form>

        </div>
    </div>
</section>