<section id="cart" class="small-12 float-left">
    <header class="small-12 float-left text-center section-title">
        <h2>Meu Carrinho</h2>
    </header>

    <div class="row">
        <div class="small-12 columns">
            <table id="cart-list">
                <thead>
                <tr>
                    <th></th>
                    <th>Nome do produto</th>
                    <th>Preço unitário</th>
                    <th>Qtd</th>
                    <th>Subtotal</th>
                    <th></th>
                </tr>
                </thead>

                <tbody>
                    <tr>
                        <td width="120">
                            <a href="#" title="Nome do produto">
                                <img src="{{root}}assets/img/media/product.jpg" alt="">
                            </a>
                        </td>

                        <td width="500">
                            <a href="#" title="Nome do produto">
                                Carne Salgada Paleta Suína Frimesa 200g Frimesa
                            </a>
                        </td>

                        <td class="text-center">
                            <h4>R$ 19,90</h4>
                        </td>

                        <td width="80">
                            <input type="number" name="qtd_product" min="1" value="1" required>
                        </td>

                        <td class="text-center">
                            <h4>R$ 19,90</h4>
                        </td>
                        
                        <td class="text-center">
                            <a href="#" title="Excluir item">
                                <i class="">x</i>
                            </a>
                        </td>
                    </tr>

                    <tr>
                        <td width="120">
                            <a href="#" title="Nome do produto">
                                <img src="{{root}}assets/img/media/product.jpg" alt="">
                            </a>
                        </td>

                        <td width="500">
                            <a href="#" title="Nome do produto">
                                Carne Salgada Paleta Suína Frimesa 200g Frimesa
                            </a>
                        </td>

                        <td class="text-center">
                            <h4>R$ 19,90</h4>
                        </td>

                        <td width="80">
                            <input type="number" name="qtd_product" min="1" value="1" required>
                        </td>

                        <td class="text-center">
                            <h4>R$ 19,90</h4>
                        </td>

                        <td class="text-center">
                            <a href="#" title="Excluir item">
                                <i class="">x</i>
                            </a>
                        </td>
                    </tr>

                    <tr>
                        <td width="120">
                            <a href="#" title="Nome do produto">
                                <img src="{{root}}assets/img/media/product.jpg" alt="">
                            </a>
                        </td>

                        <td width="500">
                            <a href="#" title="Nome do produto">
                                Carne Salgada Paleta Suína Frimesa 200g Frimesa
                            </a>
                        </td>

                        <td class="text-center">
                            <h4>R$ 19,90</h4>
                        </td>

                        <td width="80">
                            <input type="number" name="qtd_product" min="1" value="1" required>
                        </td>

                        <td class="text-center">
                            <h4>R$ 19,90</h4>
                        </td>

                        <td class="text-center">
                            <a href="#" title="Excluir item">
                                <i class="">x</i>
                            </a>
                        </td>
                    </tr>

                    <tr>
                        <td width="120">
                            <a href="#" title="Nome do produto">
                                <img src="{{root}}assets/img/media/product.jpg" alt="">
                            </a>
                        </td>

                        <td width="500">
                            <a href="#" title="Nome do produto">
                                Carne Salgada Paleta Suína Frimesa 200g Frimesa
                            </a>
                        </td>

                        <td class="text-center">
                            <h4>R$ 19,90</h4>
                        </td>

                        <td width="80">
                            <input type="number" name="qtd_product" min="1" value="1" required>
                        </td>

                        <td class="text-center">
                            <h4>R$ 19,90</h4>
                        </td>

                        <td class="text-center">
                            <a href="#" title="Excluir item">
                                <i class="">x</i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="tfooter small-12 float-left text-right">
                <a href="#" title="Continuar comprando" class="button">Continuar comprando</a>
                <a href="#" title="Atualizar carrinho" class="button">Atualizar carrinho</a>
                <a href="#" title="Esvaziar carrinho" class="button">Continuar comprando</a>
            </div>

            <div class="pre-check small-12 large-6 float-right">
                <p>
                    <span class="float-left">Valor total</span>
                    <span class="float-right">R$ 19,90</span>
                </p>

                <p>
                    <span class="float-left">Subtotal</span>
                    <span class="float-right">R$ 19,90</span>
                </p>

                <p>
                    <a href="#" title="Finalizar pedido" class="btn-gold small-12 text-center">Finalizar pedido</a>
                </p>
            </div>
        </div>
    </div>
</section>