<footer id="footer" class="small-12 float-left">
    <figure class="small-12 float-left text-center">
        <h1 class="no-margin">
            <a href="#" title="Página principal" class="logo-footer">
                <img src="{{root}}assets/img/logo-footer.png" alt="Empório A">
            </a>
        </h1>

        <figcaption>
            <p>
                Rua Um Dois Três, 123 - centro - João Pessoa - PB<br>
                CNPJ: 00.000.000.0000-00
            </p>
        </figcaption>
    </figure>

    <nav id="footer-menus" class="small-12 float-left show-for-large">

        <div class="row small-up-5">

            <div class="column">
                <h4>Mapa do site</h4>
                <ul class="menu vertical">
                    <li class="active"><a href="#" title="">Home</a></li>
                    <li><a href="#" title="">Quem Somos</a></li>
                    <li><a href="#" title="">Como Comprar</a></li>
                    <li><a href="#" title="">Formas de Entrega</a></li>
                    <li><a href="#" title="">Contato</a></li>
                </ul>
            </div>

            <div class="column">
                <h4>Institucional</h4>
                <ul class="menu vertical">
                    <li><a href="#" title="">Home</a></li>
                </ul>
            </div>

            <div class="column">
                <h4>Como comprar</h4>
                <ul class="menu vertical">
                    <li><a href="#" title="">Home</a></li>
                </ul>
            </div>

            <div class="column">
                <h4>Formas de entrega</h4>
                <ul class="menu vertical">
                    <li><a href="#" title="">Home</a></li>
                </ul>
            </div>

            <div class="column">
                <h4>Ajuda e suporte</h4>
                <ul class="menu vertical">
                    <li><a href="#" title="">Home</a></li>
                </ul>
            </div>

        </div>

    </nav>
</footer>

<div id="gateways" class="small-12 float-left">
    <div class="row align-middle">
        <figure class="small-12 columns text-center">
            <img src="{{ root }}assets/img/bandeiras.jpg" alt="">
        </figure>

        <!--Redes sociais-->
        <nav class="small-12 columns text-center">
            <span>Redes sociais:</span><br>
            <h2><a href="#" title="" target="_blank"><i class="icon-twitter"></i></a></h2>
            <h2><a href="#" title="" target="_blank"><i class="icon-facebook-square"></i></a></h2>
            <h2><a href="#" title="" target="_blank"><i class="icon-instagram"></i></a></h2>
        </nav>
    </div>
</div>

<div id="credits" class="small-12 float-left">
    <div class="row">
        <p class="small-12 columns">
            <span class="float-left">
                Copyright © 2016. Todos os direitos reservados.
            </span>
            
            <span class="float-right">
                <a href="http://www.lumenagencia.com.br/" title="Desenvolvido pela Lumen Comunicação" target="_blank">
                    <img src="{{root}}assets/img/lumen.png" alt="">
                </a>
            </span>
        </p>
    </div>
</div>
