<a href="#" class="close-menu" title="Esconder menu" style="z-index: 9999;" data-toggle-offcanvas></a>

<div id="mobile-bar" class="small-12" style="z-index: 9991;">
    <div class="row">
        <div class="small-12 columns">
            <figure class="float-left">
                <a href="#" title="Página principal">
                    <img src="{{root}}assets/img/logo.png" alt="Empório A">
                </a>
            </figure>

            <a href="#" title="Abrir menu" class="sand float-right" data-toggle-offcanvas>
                <div></div>
                <div></div>
                <div></div>
            </a>
        </div>
    </div>
</div>

<div id="header-bar" class="show-for-large">

    <div class="row">

        <div class="small-12 columns">

            <ul class="menu no-margin float-right">
                <li>
                    <a href="#" title="Carrinho de compras">
                        <i class="icon-shopping-cart"></i>
                        <span>Meu carrinho</span>
                    </a>
                </li>

                <li>
                    <a href="#" title="Login ou Cadastro">
                        <i class="icon-avatar"></i>
                        <span>Login / Cadastro</span>
                    </a>
                </li>
            </ul>

        </div>

    </div>

</div>

<header id="header" class="small-12 float-left show-for-large">

    <div class="row">

        <div class="small-12 columns">
            <div class="float-left">
                <figure class="logo text-center small-12 float-left">
                    <h1>
                        <a href="#" title="Página principal">
                            <img src="{{root}}assets/img/logo-footer.png" alt="Empório A" >
                        </a>
                    </h1>
                </figure>
            </div>

            <div class="float-right">
                <ul id="main-menu" class="menu float-right">
                    <li class="active"><a href="#" title="">Home</a></li>
                    <li><a href="#" title="">Quem somos</a></li>
                    <li><a href="#" title="">Como comprar</a></li>
                    <li><a href="#" title="">Formas de entrega</a></li>
                    <li><a href="#" title="">Contato</a></li>
                </ul>
            </div>
        </div>

    </div>

</header>