<section id="main-banner" class="small-12 float-left">

    <nav id="main-slider" class="small-12 cycle-slideshow"
         data-cycle-fx="scrollHorz"
         data-cycle-timeout="8000"
         data-cycle-slides="> div"
         data-cycle-pager=".banner-pager"
         data-cycle-pager-template="<span></span>"
    >

        <div class="item small-12 rel">
            <figure data-banner="{{root}}assets/img/bg_banner.jpg"></figure>

            <div class="row">
                <div class="d-table small-6 columns float-right">
                    <div class="d-table-cell small-12">
                        <div class="blockquote float-right">
                            <h2 class="primary-color text-right">Aqui sua <strong>satisfação</strong><br>é <strong>garantida</strong></h2>
                            <p><a href="#" class="button-white">Confira nossas promoções</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="item small-12 rel">
            <figure data-banner="{{root}}assets/img/bg_banner.jpg"></figure>

            <div class="row">
                <div class="d-table small-6 columns float-right">
                    <div class="d-table-cell small-12">
                        <div class="blockquote float-right">
                            <h2 class="primary-color text-right">Aqui sua <strong>satisfação</strong><br>é <strong>garantida</strong></h2>
                            <p><a href="#" class="button-white">Confira nossas promoções</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </nav>

    <div class="banner-pager small-12" style="z-index: 999;"></div>

    <div class="row show-for-large">
        <div class="small-12 columns">
            <nav id="menu-products" class="float-left" style="z-index: 999;">
                <div>
                    <h3>Produtos</h3>
                    <ul class="menu vertical">
                        <li><a href="#" title="">Bazar</a></li>
                        <li><a href="#" title="">Bebidas</a></li>
                        <li><a href="#" title="">Bomboniere</a></li>
                        <li><a href="#" title="">Carnes</a></li>
                        <li><a href="#" title="">Congelados</a></li>
                        <li><a href="#" title="">Frios e laticínios</a></li>
                        <li><a href="#" title="">Higiene e Beleza</a></li>
                        <li><a href="#" title="">Hortifruti</a></li>
                        <li><a href="#" title="">Limpeza</a></li>
                        <li><a href="#" title="">Massas</a></li>
                        <li><a href="#" title="">Mercearia</a></li>
                        <li><a href="#" title="">Molhos e Condimentos</a></li>
                        <li><a href="#" title="">Padaria</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>

</section>