<section id="cart" class="small-12 float-left">
    <header class="small-12 float-left text-center section-title">
        <h2>Login/Cadastro</h2>
    </header>

    <div class="row">
        <div class="small-12 columns">

            <form action="" id="form-login" class="form-user login">
                <div class="small-12 medium-6 columns">
                    <header>
                        <h3 class="primary-color">Já tenho cadastro</h3>
                    </header>
                    <p>
                        <input type="email" name="" placeholder="Digite aqui seu e-mail" required>
                    </p>

                    <p>
                        <input type="password" name="" placeholder="Digite sua senha" required>
                    </p>

                    <p class="text-center text-up">
                        <button type="submit" title="Entrar" class="button text-up">Entrar</button>
                    </p>
                </div>

                <div class="small-12 medium-6 columns">
                    <header>
                        <h3 class="primary-color">Ainda não tenho cadastro</h3>

                        <p>
                            Se você ainda não tem cadastro, clique no botão abaixo e faça seu cadastro agora. É rápido, prático e seguro.
                        </p>
                    </header>

                    <p class="text-center text-up">
                        <a href="#" title="Quero me cadastrar" class="button">Quero me cadastrar</a>
                    </p>
                </div>
            </form>

        </div>
    </div>
</section>